img  {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.adoption {
  border: 2px solid black;
}

.dog {
  border: 1px solid grey;
  margin: 20px;
  padding: 20px;
}

body {
  font: sans-serif;
}