body {
  font: sans-serif;
  width: 80%;
  border: 2px solid red;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

h1, h2 {
  padding-left: 20px;
  padding-right: 20px;
}

img  {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.adoption {
  border: 2px solid black;
  margin: 20px;
}

.dog {
  border: 1px solid grey;
  margin: 20px;
  padding: 20px;
  width: 40%;
  float: left;
  height: 600px;
}

